body {
  font-family: "Lucida Grande", sans-serif;
}

#app {
  width: 1085px;
  height: 799px;
  background-image: url(../img/back.png);
}

.front-container {
  position: relative;
  width: 972px;
  height: 799px;
  margin-left: 57px;
  overflow: hidden;
}

#front-image {
  position: absolute;
  width: 972px;
  height: 799px;
  background-image: url(../img/front.png);
  background-position: -57px 0;
  transition: transform 300ms ease;
  z-index: 10;
}

#front-image.out {
  transform: translate(249px, 0);
}

#trigger {
  position: absolute;
  top: 47px;
  left: 84px;
  width: 20px;
  height: 20px;
}

#trigger:after {
  font-size: 20px;
  font-weight: bold;
  color: #666;
  cursor: default;
  text-shadow: 0 1px 0 rgba(255,255,255,0.4);
  content: "»";
  transition: all 300ms linear;
}

.out #trigger:after {
  content: "«";
  color: #3c8aff;
  text-shadow: 0 0 2px #fff, 0 0 4px #c1d8dd;
}

#tab-center {
  float: left;
  margin-top: 74px;
  width: 248px;
  height: 600px;
  font-size: 12px;
  cursor: default;
  background-color: #e9e9e9;
  border-right: 1px solid #333d47;
}

.header {
  background-color: #333d47;
}

#search-field {
  background-color: rgba(255,255,255,0.15);
  color: rgba(255,255,255,0.8);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 12px;
  padding: 3px 8px;
  margin: 4px;
  transition: background-color 0.15s linear;
}

#search-field:focus {
  background-color: rgba(255,255,255,0.25);
}

#search-field::-moz-placeholder {
  font-style: italic;
}

.tab-button {
  float: left;
  width: 33.3333%;
  padding-top: 10px;
  padding-bottom: 8px;
  border-bottom: 1px solid #f98700;
  text-align: center;
  color: rgba(255,255,255,0.6);
  font-size: 0.75em;
  letter-spacing: 0.04em;
  transition-property: border-width, padding, color;
  transition-duration: 0.2s;
  background-color: #333d47;
}

.tab-button.active, .tab-button:hover {
  border-bottom-width: 4px;
  padding-bottom: 5px;
  color: #fff;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
  display: none;
}

.tabs.active {
  display: block;
}

.tabs li {
  clear: both;
  float: left;
  padding: 10px 0;
  color: #000;
}

.tabs li.active {
  color: #fff;
  background-color: #3375c0;
}

.tabs li:hover:not(.active) {
  background-color: rgba(0,0,0,0.1);
}

.tabs li img, .tab-image {
  float: left;
  width: 73px;
  height: 46px;
  margin-left: 6px;
  display: block;
  border: 1px solid #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

.tabs div {
  float: left;
  width: 167px;
  margin-top: 7px;
}

.tabs div span {
  display: block;
  clear: both;
  margin-left: 10px;
}

.tabs div span.url  {
  opacity: 0.6;
}

.docked-bottom {
  position: absolute;
  bottom: 79px;
  width: 250px;
  border-bottom-left-radius: 3px;
  background-color: #333d47;
}

.tab-groups {
  position: relative;
  float: left;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 34px 0;
  background-size: 22px;
  margin-bottom: 36px;
}

.tab-group {
  height: 74px;
  width: 60px;
  float: left;
  margin-top: 16px;
  margin-right: 20px;
}

.tab-image {
  position: absolute;
  width: 74px;
  height: 46px;
  background-image: url(../img/tab-images/mozilla.png);
  transition: transform 200ms ease;
}

.ti-1 { transform: rotate(-10deg) scale(0.8) }
.ti-2 { transform: rotate(10deg) scale(0.8) }
.ti-3 { transform: scale(0.8) }

.tab-group:hover .ti-1 { transform: translate(-10px, -10px) rotate(-20deg) }
.tab-group:hover .ti-2 { transform: translate(20px, -10px) rotate(20deg) }
.tab-group:hover .ti-3 { transform: translate(0, 10px) rotate(10deg) }
.tab-group:hover .tab-image {
  z-index: 5;
}

.tab-group .caption {
  font-size: 12px;
  color: #fff;
  text-align: center;
  width: 90px;
  position: absolute;
  bottom: 0;
}

.toolbar {
  position: absolute;
  float: left;
  width: 255px;
  bottom: 0;
  background: #1c222a;
  height: 30px;
  color: #fff;
}

.toolbar-button, .toolbar-label {
  float: left;
  padding: 8px 6px 10px 6px;
  font-weight: bold;
  cursor: default;
  font-size: 10px;
}

.toolbar-button:hover {
  background-color: rgba(255,255,255,0.3);
}

.header .toolbar-button {
  float: right;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 6px;
}