.small-mode #tab-center {
  width: 48px;
}

.small-mode #front-image.out {
  transform: translate(48px, 0);
}

.small-mode .sections, .small-mode .docked-bottom {
  display: none;
}

.small-mode .tabs:not(.searching) li div, .small-mode .pinned li div, .small-mode .header {
  position: absolute;
  z-index: 999;
  margin-left: 48px;
  background: #fff;
  border: 1px solid #888;
  box-shadow: 0 2px 7px rgba(0,0,0,0.3);
  display: none;
  pointer-events: none;
  color: #000 !important;
}
.small-mode .tabs:not(.searching) li:hover div,
.small-mode .pinned li:hover div,
.small-mode .search-container:hover .header {
  display: block;
}

.small-mode .tabs:not(.searching) li div:after,
.small-mode .tabs:not(.searching) li div:before,
.small-mode .pinned li div:after,
.small-mode .pinned li div:before,
.small-mode .header:after,
.small-mode .header:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.small-mode .header:after,
.small-mode .header:before {
  top: 18px;
}
.small-mode .tabs:not(.searching) li div:after,
.small-mode .pinned li div:after,
.small-mode .header:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}
.small-mode .tabs:not(.searching) li div:before,
.small-mode .pinned li div:before,
.small-mode .header:before {
  border-color: rgba(136, 136, 136, 0);
  border-right-color: #888;
  border-width: 11px;
  margin-top: -11px;
}

.small-mode .tabs:not(.searching) li,
.small-mode .pinned li {
  width: 48px;
  height: 48px;
  padding: 0;
  background-image: url("../img/favicon.ico");
  background-repeat: no-repeat;
  background-position: center;
}
.small-mode .tabs:not(.searching) li:before {
  display: none;
}

.small-mode .tabs:not(.searching) img {
  display: none;
}

.small-mode .pinned {
  border-bottom: 2px solid #888;
}

.small-mode .toolbar-button:after {
  /*font-size: 24px;
  width: 48px;
  height: 40px;
  color: #fff;
  text-align: center;
  padding: 8px 0 0 0;
  content: "+";*/
  display: none;
}

.small-mode .search-icon {
  display: block;
  text-align: center;
}

.small-mode .search-icon:hover {
  background-color: rgba(255,255,255,0.2);
}

.small-mode .header {
  position: absolute;
  margin-top: -40px;
  pointer-events: auto;
}

.small-mode #search-field {
  margin-right: 7px;
}

.small-mode .dimmer {
  display: none;
}

.small-mode .search-overlay {
  position: static;
}